// ---------- 1150px
@media only screen and (max-width: 1150px) {

	// ---- Work / Art / Home
	body#work,
	body#art,
	body#home {
		#page-main {
			& > .row-lining {
				max-width: 98%;
				margin: 0 auto;
				}// & .row-lining

			// Adjust columns
			.column {
				// WIDTHS
				&.quarter {width: 50%;}
				&.third {width: 50%;}
				&.half {width: 50%;}
				&.col-23 {width: 66.666666666%;}
				&.col-34 {width: 75%;}
				}// .column
			.row.margin-spaced {
				.column {
					// Redefine widths
					&.quarter {width: 50% - ($colMargin * 2);}
					&.third {width: 50% - ($colMargin * 2);}
					&.half {width: 50% - ($colMargin * 2);}
					&.col-23 {width: 66.666666666% - ($colMargin * 2);}
					&.col-34 {width: 75% - ($colMargin * 2);}
					}// .column
				}// .row.margin-spaced

			// TYPES
			.column.music.third,
			.row.margin-spaced .column.music.third {
				width: 33%;
				margin-left: 8%;
				}// .music.third
			}// #page-main
		}// body#work,body#home

	.project-wrapper {
		// Define ratio percentage for project wrappers
		&:after {
			padding-top: 65%;
			}// :after;

		// Project Covers wrapper
		.covers {
			// Individual Cover wrapper
			.cover {
				&.illustration,
				&.identity {
					a {
						img {
							margin-top: -5%;
							}// <img>
						}// <a>
					}// .illustration
				}// .cover
			}// .covers
		}// .project-wrapper

	// ---- Project
	.page-cover {
		.profileCover {
			&.image-only {
				& > .portfolio-hardware {
					.portfolio-image {
						img {
							top: -25%;
							}// <img>
						}// .portfolio-image
					}// & > .portfolio-hardware
				}// &.image-only
			}// .profileCover
		}// .page-cover

	.portfolio-sidebar {
		.about {
			p {
				font-size: 0.9375em;
				line-height: 125%;
				}// <p>
			}// .about
		}// .portfolio-sidebar
	}// 1150px




// ---------- Over 1150px
@media only screen and (min-width: 1151px) {
	// ---- Project
	// Move pageCover image-only's up more
	.page-cover {
		.profileCover {
			&.image-only {
				& > .portfolio-hardware {
					.portfolio-image img {
						top: -50%;
						}// .portfolio-image <img>
					}// & > .portfolio-hardware
				}// &.image-only
			}// .profileCover
		}// .page-cover
	}// 1151px