//---------- BUTTONS
// Button Group 
.button-group {
	.button {
		}// .button
	}// .button-group

.button {
	cursor: pointer;
	display: inline-block;
	padding: 0.5em 1.25em;
	text-align: center;
	border-style: solid;
	@include box-sizing(border-box);
	@include unselectable;
	-webkit-font-smoothing: subpixel-antialiased;// Webkit font smoothing

	&:hover {
		}

	&:active {
		}

	// ---- TYPES
	&.no-fill {
		border-width: 2px;
		&.white {
			color: $white;
			border-color: $white;
			}// .white
		}// .no-fill
	}// .button