// -------- GRID
.row {
	width: 100%;

	// Clear floats
	&:after {
		content: "";
		display: table;
		clear: both;
		}// :after

	// Row Lining
	.row-lining {
		width: 100%;
			max-width: $page-max-width;
		margin: 0 auto;

		// Clear floats
		&:after {
			content: "";
			display: table;
			clear: both;
			}// :after
		}// .row-lining

	// MARGIN-SPACED
	&.margin-spaced {
		.column {
			margin-left: $colMargin;
			margin-right: $colMargin;

			// Redefine widths
			&.quarter {width: 25% - ($colMargin * 2);}
			&.third {width: 33.333333333% - ($colMargin * 2);}
			&.half {width: 50% - ($colMargin * 2);}
			&.col-23 {width: 66.666666666% - ($colMargin * 2);}
			&.col-34 {width: 75% - ($colMargin * 2);}
			}// .column
		}// .margin-spaced
	}// .row


// Main column style
.column {
	float: left;
	position: relative;
	@include box-sizing(border-box);

	// WIDTHS
	&.quarter {width: 25%;}
	&.third {width: 33.333333333%;}
	&.half {width: 50%;}
	&.col-23 {width: 66.666666666%;}
	&.col-34 {width: 75%;}
	}// .column


// -------- ALIGNMENT
.pull-clear {clear: both;}
.pull-left {float: left;}
.pull-right {float: right;}