// ---------- TYPE
h1 {
	font-size: 1.875em;// 30px
	font-weight: 100;
	}// <h1>

h2 {
	font-size: 1.5em;// 24px
	font-weight: 500;

	&.titlecase {
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		}// .titlecase
	}// <h2>

h3 {
	font-size: 1.25em;// 20px
	font-weight: 500;
	}// <h3>

h4 {
	}// <h4>

h5 {
	}// <h5>


// Header Styles
h1,h2,h3,h4,h5 {
	@include body-font;
	color: tint($black,25%);
	line-height: 133.333333333%;

	// Links
	a {
		}// <a>
	}// Header Styles


// General <p> styles
p {
	color: tint($black,25%);
	line-height: 137.5%;

	a {
		&:hover {
			}
		&:active {
			}
		}// <a>
	}// <p>

small {
	font-size: 0.875em;
	line-height: 125%;
	}// <small>

// -------- ALIGNMENT
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}